<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <!--对外通信网关端口-->
    <add key="OLGatewayPort" value="3301" />
    <!--对内 silo 通信端口-->
    <add key="OLSiloPort" value="1301" />
    <!--集群id-->
    <add key="OLClusterId" value="LibingCluster" />
    <!--服务的id-->
    <add key="OLServiceId" value="LibingService" />
    <!--环境-->
    <add key="OLEnvironment" value="Production" />
    <!--Trace = 0, Debug = 1, Information = 2,  Warning = 3, Error = 4, Critical = 5,  None = 6-->
    <add key="OLLogLevel" value="2" />
    <!--orleans日志路径-->
    <add key="OLlogPath" value="d:\\Log\\LXBookMall" />
    <add key="aspnet:RoslynCompilerLocation" value="roslyn" />

  </appSettings>
  <connectionStrings>
    <!--商城数据库连接字符串-->
    <add name="DBConnStr" connectionString="server=192.168.2.132\SQL2016;user id=sa;password=1234;database=Orleans" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>